#custom
*.tar
*.tar.gz
*.h5
*.weights
*.74
*.mp4
*.list
*.png
*.jpg

#custom folder
custom_scripts/darknet_train/
custom_scripts/darknet_val/
custom_scripts/darknet_test/
trash/
images_and_gt/
videos/
marvin_tmp/
opencv/
opencv_installed/
opencv_contrib/
darknet/output/
darknet/backup/
darknet/x64_copy/
darknet_test/
darknet_train_dataset/
darknet_val/
darknet_val_dataset/
images_and_gt/
images_and_gt_combined/
images_and_gt_marvin/
images_and_gt_test/
VOCTemplate/
VOCTemplateCombined/
VOCTemplateTest/
output_rum/
retina_net_video/
ssd_keras/snapshots_ssd/
videos/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

